<div class="container" ng-controller="bookController">


	<h1>List of Books in GCIT LMS</h1>
	<div class="col-md-4 mb-3">
		<label for="validationCustomUsername">Search by Book Names</label>
		<div class="input-group">
			<input type="text" class="form-control" id="validationCustomUsername"
				ng-model="searchString" placeholder="Book Name"
				aria-describedby="inputGroupPrepend" required
				ng-change="searchBooks(searchString)">
			<div class="invalid-feedback">Please choose a book name.</div>
		</div>
	</div>

	<div class="col-md-10">
		<ul class="pagination">
			<li class="page-item"><a class="page-link" href=""
				ng-click="pagination.prevPage()">&laquo;</a></li>
			<li class="page-item"
				ng-repeat="n in [] | range: pagination.numPages"
				ng-class="{active: n == pagination.page}"><a class="page-link"
				href="" ng-click="pagination.toPageId(n)">{{n + 1}}</a></li>
			<li class="page-item"><a class="page-link" href=""
				ng-click="pagination.nextPage()">&raquo;</a></li>
		</ul>
	</div>

	<button class="button pull-right" data-toggle="modal"
		data-target="#addModal"
		style="margin-left: 1114px; background-color: orange">
		<span>Add Book</span>
	</button>

	<!-- Modal -->
	<div class="modal fade" id="addModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLongTitle" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Add Book</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="container">
						Enter Book Title:<br /> <input type="text" maxlength="45"
							ng-model="title"> <br /><br />
							
							Select Book Publisher<select class="custom-select"
							name="multipleSelect" id="multipleSelect"
							ng-model="selectedPublisher" 
							ng-options="publisher.publisherName for publisher in publishers"></select><br /><br />
							
							
						<br /> Select Book Authors<select class="custom-select"
							name="multipleSelect" id="multipleSelect"
							ng-model="selectedAuthors" multiple
							ng-options="author.authorName for author in authors"></select><br /><br />


						Select Book Genres<select class="custom-select"
							name="multipleSelect" id="multipleSelect"
							ng-model="selectedGenres" multiple
							ng-options="genre.genreName for genre in genres"></select>
							

					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary"
						ng-click="addBook(title)">Save</button>
				</div>
			</div>
		</div>
	</div>


	<table class="table" style="width: 1300">
		<thead>
			<tr class="table-primary">
				<th scope="col">#</th>
				<th scope="col">Book Title</th>
				<th scope="col">Publisher</th>
				<th scope="col">Authors</th>
				<th scope="col">Genres</th>
				<th scope="col">Edit</th>
				<th scope="col">Delete</th>
			</tr>
		</thead>




		<tbody>

			<tr
				ng-repeat="b in books| startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
				<th scope="row">{{$index+1}}</th>
				<td>{{b.title}}</td>
				
				<td>{{b.publisher.publisherName}}</td>
						
						<td><span ng-repeat="a in b.authors"> {{a.authorName}} <span
						ng-if="!$last">|</span></span></td>
				
				<td><span ng-repeat="g in b.genres"> {{g.genreName}} <span
						ng-if="!$last">|</span></span></td>
						
				<td><button class="btn btn-primary" data-toggle="modal"
						data-target="#editModal" ng-click="editBook(b)">Edit</button></td>
				<td><button ng-click="deleteBook(b)" class="btn btn-danger">Delete</button></td>
			</tr>

		</tbody>
	</table>



	<!-- Modal -->
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLongTitle" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Update Book Details</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="container">
						Enter Book Title to be edited:<br /> <input type="text"
							maxlength="45" ng-model="book.title">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						ng-click="listBooks()" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary"
						ng-click="updateBook()">Save changes</button>
				</div>
			</div>
		</div>
	</div>


</div>