

<div class="container">
    
    
    	
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Book</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li>Add Books</li>
              <li>Remove Books</li>
              <li>View All Books</li>
              <li>Edit Books</li>
            </ul>
            <a style="position:relative; bottom:-7px;" class="btn btn-lg btn-block btn-outline-primary" href="#/bookList" role="button">Get started</a>
          </div>
        </div>
        
        
        
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Author</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li>Add Authors</li>
              <li>Remove Authors</li>
              <li>View All Authors</li>
              <li>Edit Authors</li>
            </ul>
           
            <a style="position:relative; bottom:-10px;" class="btn btn-lg btn-block btn-outline-primary" href="#/authorList" role="button">Get started</a>
          </div>
        </div>
        
        
        
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Publisher</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li>Add Publishers</li>
              <li>Remove Publishers</li>
              <li>View All Publishers</li>
              <li>Edit Publishers</li>
            </ul> 
            
            <a style="position:relative;bottom:-10px;" class="btn btn-lg btn-block btn-outline-primary" href="#/publisherList" role="button">Get started</a>
          </div>
        </div>
        
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Genre</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li>Add Genres</li>
              <li>Remove Genres</li>
              <li>View All Genres</li>
              <li>Edit Genres</li>
            </ul> 
            
            <a style="position:relative;bottom:-10px;" class="btn btn-lg btn-block btn-outline-primary" href="#/genreList" role="button">Get started</a>
          </div>
        </div>
        
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Library Branch</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li>Add Branch</li>
              <li>Remove Branch</li>
              <li>View All Branches</li>
              <li>Edit Branch</li>
            </ul> 
            
            <a style="position:relative;bottom:-10px;" class="btn btn-lg btn-block btn-outline-primary" href="#/libraryBranchList" role="button">Get started</a>
          </div>
        </div>
        
        
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Borrower</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li>Add Borrower</li>
              <li>Remove Borrower</li>
              <li>View All Borrowers</li>
              <li>Edit Borrower</li>
            </ul> 
            
            <a style="position:relative;bottom:-10px;" class="btn btn-lg btn-block btn-outline-primary" href="#/borrowerList" role="button">Get started</a>
          </div>
        </div>
        
        
        <div class="card mb-4 box-shadow card-btm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Book Loan</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li>Over-ride due date</li>
            </ul> 
            
            <a style="position:relative;bottom:-81px;" class="btn btn-lg btn-block btn-outline-primary" href="#/bookLoanList" role="button">Get started</a>
          </div>
        </div>
        
        
      </div>

     
    </div>
