<div class="container" ng-controller="publisherController">


	<h1>List of Publishers in GCIT LMS</h1>
	<div class="col-md-4 mb-3">
		<label for="validationCustomUsername">Search by Publisher Names</label>
		<div class="input-group">
			<input type="text" class="form-control" id="validationCustomUsername"
				ng-model="searchString" placeholder="Publisher Name"
				aria-describedby="inputGroupPrepend" required
				ng-change="searchPublishers(searchString)">
			<div class="invalid-feedback">Please choose a Publisher name.</div>
		</div>
	</div>

	<div class="col-md-10">
		<ul class="pagination">
			<li class="page-item"><a class="page-link" href=""
				ng-click="pagination.prevPage()">&laquo;</a></li>
			<li class="page-item"
				ng-repeat="n in [] | range: pagination.numPages"
				ng-class="{active: n == pagination.page}"><a class="page-link"
				href="" ng-click="pagination.toPageId(n)">{{n + 1}}</a></li>
			<li class="page-item"><a class="page-link" href=""
				ng-click="pagination.nextPage()">&raquo;</a></li>
		</ul>
	</div>

	<button class="button pull-right" data-toggle="modal"
		data-target="#addModal"
		style="margin-left: 1000px; background-color: orange">
		<span>Add Publisher</span>
	</button>

	<!-- Modal -->
	<div class="modal fade" id="addModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLongTitle" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Add Author</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="container">
						
						Enter Publisher Name :<br /> 
						<input type="text"	maxlength="45" ng-model="publisherName"><br /> <br /> 
						
						Enter Publisher Address :<br /> 
						<input type="text"	maxlength="45" ng-model="publisherAddress"><br /> <br />
						
						Enter Publisher Phone No.:<br /> 
						<input type="text"	maxlength="45" ng-model="publisherPhone"><br /> <br />
						


					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary"
						ng-click="addPublisher(publisherName,publisherAddress,publisherPhone)">Save</button>
				</div>
			</div>
		</div>
	</div>


	<table class="table" style="width: 1200">
		<thead>
			<tr class="table-primary">
				<th scope="col">#</th>
				<th scope="col">Publisher Name</th>
				<th scope="col">Address</th>
				<th scope="col">PhNo.</th>
				<th scope="col">Books</th>
				<th scope="col">Edit</th>
				<th scope="col">Delete</th>
			</tr>
		</thead>




		<tbody>

			<tr
				ng-repeat="p in publishers | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
				<th scope="row">{{$index+1}}</th>
				<td>{{p.publisherName}}</td>
				<td>{{p.publisherAddress}}</td>
				<td>{{p.publisherPhone}}</td>
				<td><span ng-repeat="b in p.books"> {{b.title}} <span
						ng-if="!$last">|</span></span></td>
				<td><button class="btn btn-primary" data-toggle="modal"
						data-target="#editModal" ng-click="editPublisher(p)">Edit</button></td>
				<td><button ng-click="deletePublisher(p)" class="btn btn-danger">Delete</button></td>
			</tr>

		</tbody>
	</table>



	<!-- Modal -->
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLongTitle" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Update Publisher Details</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="container">
						Enter Publisher Name to be edited:<br /> 
						<input type="text"	maxlength="45" ng-model="publisher.publisherName"	value="publisher.publisherName"><br /> <br /> 
						
						Enter Publisher Address to be edited:<br /> 
						<input type="text"	maxlength="45" ng-model="publisher.publisherAddress"	value="publisher.publisherAddress"><br /> <br />
						
						Enter Publisher Phone No. to be edited:<br /> 
						<input type="text"	maxlength="45" ng-model="publisher.publisherPhone"	value="publisher.publisherPhone"><br /> <br />
						
						
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						ng-click="listPublishers()" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary"
						ng-click="updatePublisher()">Save changes</button>
				</div>
			</div>
		</div>
	</div>


</div>