<div class="pricing-header px-6 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h2 class="display-4">Library Management System</h2>
      <p class="lead">online portal for Admin, Librarian and Borrower for easy access to Library Tools and Management.</p>
</div>

<div class="container" ng-controller="homeController">
    
    
    	
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Admin</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li>Add/remove Books/Authors</li>
              <li>Add/remove Publishers</li>
              <li>Add/remove Library Branches</li>
              <li>Add/remove Borrower</li>
              <li>Over-ride due date for book loan</li>
            </ul>
            <a style="position:relative; bottom:-7px;" class="btn btn-lg btn-block btn-outline-primary" href="#/admin" role="button">Select</a>
          </div>
        </div>
        
        
        
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Librarian</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li>Update Branch Details</li>
              <li>Add books to Branch</li>
            </ul>
           
            <a style="position:relative; bottom:-77px;" class="btn btn-lg btn-block btn-outline-primary" href="#/librarian/libraryBranchList" role="button">Select</a>
          </div>
        </div>
        
        
        
        <div class="card mb-4 box-shadow card-btm" style="max-width:220px">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Borrower</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li>Checkout a book</li>
              <li>Return a Book</li>
            </ul> 
            
            <button type="button" style="position:relative;bottom:-74px;" data-toggle="modal" data-target="#editModal"
            class="btn btn-lg btn-block btn-outline-primary" >Select</button>
          </div>
        </div>
        
        
        	<!-- Modal -->
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLongTitle" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Borrower Login</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="container">
					<div ng-show="error" class="alert alert-danger" role="alert">{{error}}</div>
						Enter Card No<br /> 
						<input type="text" maxlength="45" ng-model="cardNo">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-secondary" ng-click="readBookLoanByUser(cardNo)" data-dismiss="modal">Login</button>

				</div>
			</div>
		</div>
	</div>
        
        
        
        
        
      </div>

     
    </div>
